.modal-overlay {
  z-index: 9999;
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 480px;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.modal-top {
  position: relative;
  height: 320px;
}

.item-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-box .item-name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}

.modal-box .item-description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.5px;
  text-align: left;
}

.itens {
  display: flex;
  height: fit-content;
  justify-content: center;
}

.btn-plus {
  border-radius: 50%;
  background-color: #4f372f;
  height: 2vw;
  width: 2vw;
  color: white;
  font-size: 2rem;
  border: 0;
  margin-left: 2vw;
  cursor:pointer;
}

.btn-minus {
  border-radius: 50%;
  background-color: lightgray;
  height: 2vw;
  width: 2vw;
  color: black;
  font-size: 2rem;
  border: 0;
  margin-right: 2vw;
  cursor:pointer;
}

.btn-order {
  width: 90%;
  height: 80%;
  color: white;
  font-size: 1.1rem;
  margin: 1vw;
  background-color: #4f372f;
  border-radius: 30px;
  cursor:pointer;
}

.order{
  height: 2.5vw;
}

.modifier {
  height: fit-content;
}

@media only screen and (max-width: 1080px) {

  .btn-minus {
    height: 3vw;
    width: 3vw;
  }

  .btn-order {
    width: 90%;
    height: 90%;
    margin: 2vw;
  }

  .btn-plus{
    height: 3vw;
    width: 3vw;
  }
}

@media only screen and (max-width: 800px) {

  .btn-minus {
    height: 4vw;
    width: 4vw;
  }

  .btn-order {
    width: 90%;
    height: 5vw;
    margin: 3vw;
  }

  .btn-plus{
    height: 4vw;
    width: 4vw;
  }

  .modal-box{
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {

  .btn-minus {
    height: 6vw;
    width: 6vw;
  }

  .btn-order {
    width: 90%;
    height: 7vw;
    margin: 4vw;
  }

  .btn-plus{
    height: 6vw;
    width: 6vw;
  }

  .modal-box{
    width: 100%;
    height: 100%;
  }
}