.modal-overlay {
  z-index: 9999;
  width: 100%;
  height: 150%;
  position: absolute;
  top: 0%;
  right: 0%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-box {
  display: block;
  background: white;
  width: 480px;
}

.modal-close-icon {
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  color: white;
  position: absolute;
  top: 18px;
  right: 16px;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
}

.modal-top {
  position: relative;
  height: 320px;
}

.item-details {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-box .item-name {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  line-height: 28.13px;
  text-align: left;
}

.modal-box .item-description {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  letter-spacing: 0.5px;
  text-align: left;
}

.amount-value {
  font-family: SF Pro Display;
  font-size: 24px;
  font-weight: 600;
  line-height: 28.64px;
  text-align: center;
  color: #121212;
}

.items {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn-plus {
  border-radius: 50%;
  background-color: #4f372f;
  height: 2vw;
  width: 2vw;
  color: white;
  font-size: 2rem;
  border: 0;
  margin-left: 2vw;
  cursor: pointer;
}

.btn-minus {
  border-radius: 50%;
  background-color: lightgray;
  height: 2vw;
  width: 2vw;
  color: black;
  font-size: 2rem;
  border: 0;
  margin-right: 2vw;
  cursor: pointer;
}

.btn-order {
  width: 90%;
  height: 80%;
  color: white;
  margin: 1vw;
  background-color: #4f372f;
  border-radius: 30px;
  cursor: pointer;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 21.09px;
  letter-spacing: 0.75px;
  text-align: center;
}

.order {
  height: 48px;
}

.modifiers {
  display: flex;
  flex-direction: column;
}

.modifier {
  height: fit-content;
}

.modifier-item {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 1080px) {
  .btn-minus {
    height: 3vw;
    width: 3vw;
  }

  .btn-order {
    width: 90%;
    height: 90%;
    margin: 2vw;
  }

  .btn-plus {
    height: 3vw;
    width: 3vw;
  }
}

@media only screen and (max-width: 800px) {
  .btn-minus {
    height: 4vw;
    width: 4vw;
  }
  .modal-top {
    position: relative;
    height: unset;
  }

  .modal-image {
    width: 100vw;
    object-fit: cover;
    display: block;
  }

  .btn-order {
    width: 90%;
    height: 5vw;
    margin: 3vw;
  }

  .btn-plus {
    height: 4vw;
    width: 4vw;
  }

  .modal-box {
    width: 100%;
    height: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .btn-minus {
    height: 6vw;
    width: 6vw;
  }

  .btn-order {
    width: 90%;
    height: 7vw;
    margin: 4vw;
  }

  .btn-plus {
    height: 6vw;
    width: 6vw;
  }

  .modal-box {
    width: 100%;
    height: 100%;
  }
}
