.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

.link-wrapper {
  width: 232px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-open {
  box-shadow: inset 0 -5px 0 white;
}

.search {
  border-radius: 8px;
  border: 1px solid #8a94a4;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
  gap: 15px;
}

input {
  height: 44px;
  width: 95%;
  border: none;
}
