.main-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #eeeeee;
  padding-right: 3%;
  padding-left: 3%;
  min-height: 500px;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  min-height: 500px;
  background-color: #f8f9fa;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 2vw;
  width: 90%;
}

.menu {
  box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.14);
  margin-bottom: 20px;
  width: 70%;
  background-color: white;
  color: #121212;
  padding-top: 20px;
}

.cartCard {
  width: 28%;
}

.footer-mobile {
  display: none;
  text-align: -webkit-center;
}

@media only screen and (max-width: 850px) {
  .menu-wrapper {
    width: 100%;
    padding: 0;
    display: block;
  }

  .menu {
    width: 100%;
  }

  .main-body {
    padding: 0;
  }

  .cartCard {
    display: none;
  }

  .footer-mobile {
    display: block
  }
}