.button-group{
  display: flex !important;
}

.section-image {
  width: 74px;
  height: 74px;
  margin: 0.2vw;
  object-fit: cover;
  border-radius: 50%;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.section-image-container-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 2px solid #4f372f;
}

.section-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1.5vw;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
}

.section-link-active {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-left: 1vw;
  margin-right: 1.5vw;
  font-size: 16px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 3px black solid;
}


.btn-check {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

input {
  width: auto !important;
}

@media only screen and (max-width: 850px) {
  
  .button-group{
    justify-content: space-around;
  }
}